
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff; /* Add a background color */
  z-index: 1000; /* Ensure it stays on top of other content */
}
body{
    font-family:"Spline Sans", sans-serif;
    color:#777;
    line-height: 1.7;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    color:#222;
    margin-top: 0;
    margin-bottom: 0;

}
a{
    color:#222;
    text-decoration: none;
   transition: all 0.4s;
    font-weight: 600;
}
a:hover{
    color: orange;
}
img{
    width: 100%;
}
section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.shadow-on-hover{
    transition: all 0.4s;
}
.shadow-on-hover:hover{
    box-shadow: 0 10px 40 px rgba(0, 0, 0, 0.1);
}
/* button */
.btn{
    border-radius: 0;
    padding:14px 30px ;

}
.btn-brand{
    color:white;
    font-weight: 500;
    border-color:#F58d17;
    background-color:#F58d17;
}
.btn-brand:hover{
  border-color:#f28b16;
    background-color:#F58d17;
    color:white;
}

.bg-cover{
    background-position: center !important;
    background-size: cover !important;
    background-repeat:no repeat;

}
/* slider */
.slide-1{
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../images/cover1.png);
    
}
.slide-2{
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../images/cover2.png);
}
.slide-3{
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../images/cover3.png);
}

/* About */
#about.divider{
    width: 60px;
    height: 2px;
    display: block;
    background-color: orange;
    
}
/* intro text */
.intro-text{
  
margin-bottom: 10px;
text-align: center;
}
.intro-text p{
    max-width: 500px;
    margin:  16px auto 0 auto ;
}

/* menu */
#menu.nav-pills.nav-link{
    background-color:white;
    margin-left: 8px;
    margin-right: 8px;
    color: #222;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
  
}
.menu-item{
margin-top: 30px;
margin-bottom: 50px;
}
/* features */

.feature{
    border: 2px solid rgba(7, 0, 0, 0.4);
    width: 100%;
    height: 250px;
   
}
 .feature .feature-icon{
    font-size: 24px;
     background-color: orange;
     color:white;

    width: 50px;
    height: 50px;
    display: inline-grid;
  text-align: center;
    justify-content: center;
   
   
}
.team-member{
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 20px;
}

/* reviews */
.review{
  
  height: 450px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);

    margin-bottom: 50px;

   
   
 
}
.container{
   
    gap:80px;
}

.review .quote-icon{
    font-size: 74px;
    color: orange;
    padding-bottom: 10px;
        display: inline-grid;
        padding-bottom: 0 !important;
        margin-bottom: 0px;
}
.review h5,
.review P{
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
}

/*reservation*/
#reservation .form-control{
    border-radius: 0;


}
#reservation input.form-control{
    height: 47px;


}
/* location */



.contact-info {
    padding-top: 20px;
    display: flex;
 
    gap: 10px; 
}

/*footer*/
footer .social-links a{
    font-weight: normal;
    font-size: 24px;
    margin-right: 10px;
}
.footer-bottom{
    padding-top: 30px;
    border-top: 2px solid rgba(255, 255, 255, 0.421);
}
